
/* Box Sizing Reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
    --background-color: black;
    --text-color: #bdc3c7;
    --body-font: "Arial", sans-serif;
    --title-font: "Barlow Condensed", sans-serif;
    --off-white: #b9b8b8;
    --white: #fff;
    --lime-green: #a9db5f;
    --vibrant-yellow: rgb(254, 248, 76);
    --bottom-border:#444;
}

/* General styles */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

/*******************NAVIGATION BAR*******************/
.header-nav {
    background-color: var(--background-color);
    color: var(--white);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
}

/* Logo Styling */
.header-nav img {
    width: 50px;
    margin-right: 20px;
}

/* Navigation Links */
.nav-links {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease;
}

.nav-links li {
    margin: 0;
}

.nav-links li a {
    position: relative;
    color: var(--white);
    text-decoration: none;
    font-family: var(--body-font);
    font-size: 1rem;
    font-weight: 400;
    transition: color 0.3s ease;
}
.nav-links li a:hover {
    color: var(--vibrant-yellow);
}
.header-nav ul li a:hover {
    color: var(--vibrant-yellow);
}

.header-nav ul li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; 
    height: 2px;
    background-color: var(--vibrant-yellow);
    transition: width 0.3s ease-in-out; 
}

.header-nav ul li a:hover::after{
    width: 100%;
}

/* Search Bar */
.search-container {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.search-input {
    width: 20px;
    padding: 15px 40px 15px 15px;
    position: relative;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    margin-right: 0.5rem;
    border: none;
    outline: none;
    transition: width 0.4s ease;
}

/* Search Bar Animation based on hover state */
.search-input:hover {
    width: 250px;
}

.search-icon {
    position: relative;
    left: -44px;
    color: var(--background-color);
    pointer-events: none;
}

/* Hamburger Menu */
.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    cursor: pointer;
    z-index: 10;
}

.hamburger-menu span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--white);
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Hamburger Active States */
.hamburger-menu.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger-menu.active span:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

/* Mobile Navigation */
.nav-links {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    z-index: 5;
}

.nav-links.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.nav-links li {
    text-align: center;
    margin: 10px 0;
}

/*******************1-HERO SECTION*******************/

#hero{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#hero::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, #ff1493, #f1c40f, #1abc9c, #9b59b6);
    background-size: 300% 100%;
    animation: moveGradient 3s infinite ease-in-out;
    transform-origin: bottom;
    transform: scaleY(1); 
    transition: transform 0.3s ease-in-out; 
}

#hero:hover::after {
    transform: scaleY(2); 
}

/* Animation for the gradient */
@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


#hero h1 {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    text-align: center;
    font-size: 3rem;
    margin-top: 10px;
    margin: 0;
}

#hero h1 span{
    /* cursor: pointer; */
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
    position: relative;
}

#hero h1 span:nth-child(1) { color: #9b59b6; }
#hero h1 span:nth-child(2) { color: #1abc9c; } 
#hero h1 span:nth-child(3) { color: #e74c3c; } 
#hero h1 span:nth-child(4) { color: #ff1493; } 
#hero h1 span:nth-child(5) { color: #f1c40f; } 
#hero h1 span:nth-child(6) { margin-right: 30px; color: #1abc9c; }
#hero h1 span:nth-child(7) { color: #9b59b6; }
#hero h1 span:nth-child(8) { color: #e74c3c; }
#hero h1 span:nth-child(9) { color: #f1c40f; }
#hero h1 span:nth-child(10) { color: #ff1493; }
#hero h1 span:nth-child(11) { color: #1abc9c; }

#hero h1 span:hover {
    transform: scaleY(1.2);  
}

/*******************2-TOP HIGHLIGHTS*******************/
.highlights-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
    padding: 25px;
    background-color: black;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);    transition: background-color 0.3s ease; 
}

.highlight-article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
    border: 2px solid var(--bottom-border);
    background-color: black;
}

.highlight-article .image-container img {
    display: none;
    width: 300px; 
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto; /* Center the image */
}

.highlight-article h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--white);
    text-justify: auto;
}

.highlight-article .body-content {
    font-size: 0.95em;
    margin-bottom: 15px;
    color: #bdc3c7;
    line-height: 1.7;
}

.highlight-article {
    flex: 1;
    color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid var(--bottom-border);
} 

.highlight-sidebar {
    flex: 1;
    background-color: #222;
    color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--bottom-border);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    overflow: hidden;
}

.sidebar-content h2 {
    font-size: 1rem;
    margin-bottom: 15px;
    color: var(--white);;
}
.animated-text {
    font-size: 1rem; 
    font-weight: bold;
    color: var(--vibrant-yellow);
    white-space: normal;
    overflow: hidden;
    display: block;
    border-right: .15em solid var(--vibrant-yellow);
    animation: blink 2s step-end infinite;
}

.animated-text span {
    display: block;
    margin-bottom: 8px;
}

.animated-text span {
    display: block;
    margin-bottom: 8px;
}

.animated-text span:nth-child(odd) {
    color: var(--vibrant-yellow); /* Yellow color for odd lines (1st, 3rd, 5th, ...) */
}

.animated-text span:nth-child(even) {
    color: var(--lime-green) /* Green color for even lines (2nd, 4th, 6th, ...) */
}
.animated-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto; 
    background-color: #333;
    overflow: hidden;
}

/*******************3-ARTICLE SECTION*******************/
#articles {
    padding: 20px;
    display: grid;
    gap: 20px;
    border-bottom: 2px solid var(--bottom-border);
    width: 100%;

}

#articles .article  {
    grid-column: span 1;
    position: relative;
    border-radius: 8px;
    padding: 15px;
    background-color: #222; 
    box-sizing: border-box;
    z-index: 1;
    overflow: hidden; 
}

.article::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px; 
    padding: 3px;
    background: linear-gradient(90deg, #ff1493, #f1c40f, #1abc9c, #9b59b6);
    background-size: 300% 300%;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, 
                linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -1; 
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.article:hover::before {
    opacity: 1; /* Show the border on hover */
    animation: border-move 3s linear infinite;
}

/* Keyframes for the animated gradient */
@keyframes border-move {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}


#article-heading, #popular-posts-heading{
    text-align: center;
    font-size: 2rem;
    color: var(--white);;
}

/* Descendant Selector */
#articles .article h3 {
    color: var(--white);;
    font-size: 1.5rem;
    margin: 0;
}
/* Child Selector */
.article > .image-container {
    display: none;
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px auto;
}

.article img {
    height: 100%;
    width: 100%;
    object-fit: cover;  
}

/* Add a colorful gradient overlay */
.article .image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(245 140 202 / 60%), rgb(100 178 198 / 60%), rgb(250 250 117 / 60%)); /* Gradient colors */
    z-index: 1;
    pointer-events: none;
}

.article:hover .image-container::before {
    opacity: 0;
}

.article:hover img {
    opacity: 1; 
}

/* Adjacent Sibling Selector */
.article .excerpt + .body-content {
    display: none; 
}

/* General Sibling Selector */
.article .body-content ~ .tags {
    display: none; 
}

.article p {
    color: #bdc3c7;
}
/* Attribute Selector */
.article a[href] {
    color: transparent;
    text-decoration: none;
    font-weight: bold;
}

.article .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);;
}

.footer-content span:first-child {
    color: #1abc9c;
}

/* Circle button with arrow */
.read-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--vibrant-yellow);
    border-radius: 50%;  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.read-more-icon{
    color: #222; /* Default color of the icon */
}
.article:hover .read-more-icon{
    color: var(--vibrant-yellow);
}

.article:hover .footer-content .read-more {
    background-color: black;
    color: var(--vibrant-yellow);
    border: 1px solid var(--vibrant-yellow);
}

.article .footer-content .read-more:hover{
    transform: scale(1.1); 
}


.read-more.active {
    background-color: #222; 
    color: var(--vibrant-yellow);
    border: 2px solid var(--vibrant-yellow);
}


.read-more.active .read-more-icon {
    color: var(--vibrant-yellow); 
}

/*******************4-POPULAR SECTION*******************/
#popular-posts {
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap; 
    padding: 20px;
    border-bottom: 2px solid var(--bottom-border);
}
/* Child Selector */
#popular-posts > .post  {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 120px;
    margin: 10px; 
}

.circle-container {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--white), var(--white)) padding-box, 
                linear-gradient(45deg, red, orange, yellow, green, blue, purple) border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 5px solid transparent;
    overflow: visible;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    margin-bottom: 15px;
}

.number {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: var(--vibrant-yellow);
    border: 3px solid var(--vibrant-yellow);
    font-weight: bold;
    z-index: 2;
}


.post img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--white);;
    transition: transform 1s ease;
    z-index: 1;
}

.circle-container:hover img {
    transform: rotate(360deg); /* 360-degree rotation */
}

/*Descendant Selector*/
#popular-posts .post a {
    margin-top: 10px; 
    font-size: 0.9rem; 
    font-weight: bold;
    color: var(--white);; 
    text-align: center; 
    line-height: 1.2;
    flex-grow: 1;
    text-decoration: none;
}

#popular-posts .post a:hover {
    text-decoration: underline; 
    color: var(--vibrant-yellow); 
}

/* Hover Animation */
.circle-container:hover {
    transform: scale(1.1); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/*******************5-SUBSCRIBE SECTION*******************/

#subscribe-section {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column; /* Default for smaller screens */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.subscribe-heading, .subscribe-form {
    width: 100%;
    margin: 10px 0;
}

#subscribe-section h2 {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    margin-top: 10px;
}

/* Descendant Selector */
#subscribe-section span {
    display: inline-flex;
    transition: transform 0.3s ease, color 0.3s ease;
    position: relative;
    color: var(--vibrant-yellow);
}

#subscribe-section h2 span:nth-child(9) {
    margin-right: 20px;
}

#subscribe-section h2 span:hover {
    transform: scale(1.2);
}
/* Adjacent Sibling Selector */
#subscribe-section h2 + p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: var(--white);;
    text-align: center;
}

.subscribe-form {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 10px;
}
/* Attribute Selector */
input[type="email"] {
    padding: 15px;
    width: 90%; 
    border: none;
    background-color: #222;
    border-radius: 15px;
    font-size: 1rem;
    color: var(--white);;
}

#subscribe-button {
    padding: 15px;
    background-color: var(--vibrant-yellow);
    color: black;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s ease;
}
#subscribe-button:hover{
    transform: scaleY(1.1);
}

/*******************FOOTER SECTION*******************/

footer {
    background-color: var(--background-color);
    color: var(--white);
    font-family: var(--body-font);
    /* padding: 2rem 0; */
    text-align: center;
    border-top: 1px solid var(--bottom-border);
}

footer p {
    color: var(--lime-green);
    font-family: var(--title-font);
    font-weight: 600;
    margin: 0.5rem 0;
}
.footer-nav {
    display: inline-block;
    justify-content: space-around; 
    padding: 1rem 0; 
    align-items: center; 
    height: auto;  
}
.footer-menu{
    padding: 1rem 0; 
}

.footer-nav > ul > li {
    list-style: none;
    margin: 5px;
    padding: .5em;
}

.footer-nav > ul > li > a{
    text-decoration: none;
}

.footer-link{
    color: var(--white);
}

.footer-link:hover {
    color: var(--lime-green);
}

.menu-item:not(:first-child) {
    border: 1px solid var(--lime-green);
    border-radius: 30px;
}

/*Attribute Selector overwrite styling for Menu Li*/
[data-role="footer-menu-title"] {
    text-transform: uppercase;
    color: var(--lime-green);
    font-weight: 900;
    cursor: pointer;
}
/* Social Media Section */
.social-icon {
    display: inline-block;
    width: 3rem;
    height: 3rem;  
    overflow: hidden; 
    transition: transform 0.3s ease; 
}

/* Social Icons Container */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.social-icon img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
}

/************************MEDIA QUERIES************************/

@media (min-width: 600px){
    #hero h1 {
        font-size: 4rem;
    }
}

/* Tablet and larger devices */
@media (min-width: 768px) {
    #hero h1 {
        font-size: 6rem;
    }

    .highlight-container {
        display: flex;
        flex-direction: row;
    }

    .highlight-content p{
        display: block;
    }

    #articles {
        grid-template-columns: repeat(2, 1fr); 
    }

    #popular-posts {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap; 
        gap: 20px; 
        padding: 30px;
    }
    .circle-container{
        width: 160px; 
        height: 160px;
        border-width: 6px;
    }
    /*Descendant Selector*/
    #popular-posts .post a {
        font-size: 1.2rem; 
    }
    .number {
        width: 40px;
        height: 40px;
    }

    .article .image-container{
        height: 300px;
        width: 300px;
        margin: 10px auto;  
        display: block;
    }

    .sidebar-content h2 {
        font-size: 2rem;
    }
    .highlights-section {
        flex-direction: row; 
    }

    .highlight-article,
    .highlight-sidebar {
        flex: 1 1 48%;
    }

    .highlight-sidebar {
        order: 2;
    }

    .animated-text {
        font-size: 18px; /* Adjust font size for medium screens */
    }

    .highlight-article .image-container img {
        display: block;
    }

    .hamburger-menu {
        display: none;
    }

    .nav-links {
        display: flex;
        position: static;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        flex-direction: row;
    }
    .search-input {
        width: 20px;
        padding: 15px 40px 15px 15px;
        position: relative;
        border: none;
        border-radius: 25px;
        font-size: 1rem;
        margin-right: 0.5rem;
        border: none;
        outline: none;
        transition: width 0.4s ease;
    }
    .search-input:hover {
        width: 150px;
    }

    /* SUBSCRIBE SECTION */
    #subscribe-section {
        flex-direction: row;
        align-items: center; 
        text-align: left; 
    }

    .subscribe-heading {
        width: 50%; 
        text-align: left; 
    }
    #subscribe-section h2 {
        font-size: 2.5rem;
    }

    .subscribe-form {
        width: 50%; 
        flex-direction: row; 
        justify-content: flex-start; 
        gap: 10px;
    }

    #subscribe-email {
        width: 70%; 
    }

    #subscribe-button {
        width: 28%;
    }
    .footer-nav {
        display: inline-block;
        justify-content: space-around; 
        padding: 1rem 0; 
        align-items: center; 
        height: auto;  
    }
    .footer-menu{
        display: flex;
        justify-content: space-around;
        padding: 1rem 0; 
    }
}

/* Desktop and larger devices */
@media (min-width: 1024px) {
    #hero h1 {
        font-size: 8rem; 
    }

    #articles {
        grid-template-columns: repeat(3, minmax(0, 1fr)); 
        padding: 15px;
        box-sizing: border-box; 
    }

    .article {
        padding: 10px; 
        margin: 5px; 
        box-sizing: border-box; 
    }
    .article .image-container{
        height: 300px;
        width: 280px;
        margin: 10px auto;  
        display: block;
    }

    #popular-posts {
        display: flex;
        justify-content: space-evenly; 
        flex-wrap: nowrap; 
        gap: 20px; 
        padding: 30px;
    }

    /*Descendant Selector*/
    #popular-posts .post a {
        font-size: 1.6rem; 
    }
    .circle-container{
        width: 200px; 
        height: 200px;
        border-width: 6px;

    }
    .number {
        width: 50px;
        height: 50px;
    }
    .highlight-article,
    .highlight-sidebar {
        flex: 1 1 48%; /* Ensure both article and sidebar take up equal space on larger screens */
    }

    .highlight-sidebar {
        order: 2; /* Sidebar will appear after the article */
    }

    .animated-text {
        font-size: 20px;
    }
    .search-input:hover {
        width: 300px;
    }
    .nav-links li a {
        font-size: 1.3rem;
    }
}

@media (min-width: 1440px)
{
    .circle-container{
        width: 300px; 
        height: 300px;
    }
    .number {
        width: 60px;
        height: 60px;
    }
    .article .image-container{
        height: 300px;
        width: 300px;
        margin: 10px auto;  
        display: block;
    }

}